# Data files
/data/*
/data/**/*
!/data/
!/data/.gitkeep
!/data/**/
!/data/**/.gitkeep

/match_data/*
/match_data/**/*
!/match_data/
!/match_data/.gitkeep
!/match_data/**/
!/match_data/**/.gitkeep

# Python cache
__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store
Thumbs.db